<div nz-row nzGutter="24">
    <div nz-col nzSpan="12">
        <div class="d-flex">
            <h4 class="display-4">选择</h4>
            <div class="ml-auto">
                <span>
                    <label nz-checkbox [nzDisabled]="mode === 'tree'" class="mr-0">全选</label>
                </span>
                <nz-divider nzType="vertical"></nz-divider>
                <nz-radio-group [(ngModel)]="mode" nzSize="small">
                    <label nz-radio-button nzValue="tree">
                        <i nz-icon nzType="branches" nzTheme="outline" nzRotate="90"></i>
                    </label>
                    <label nz-radio-button nzValue="list">
                        <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
                    </label>
                </nz-radio-group>

            </div>
        </div>

        <nz-card class="list-card bg-blue-1 ant-card__body-nopadding mb-0">
            <div class="p-2">
                <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input type="text" nz-input placeholder="输入名称或编码搜索" />
                    <ng-template #suffixIconSearch>
                        <i nz-icon nzType="search"></i>
                    </ng-template>
                </nz-input-group>
            </div>
            <div>
                <nz-tree [nzData]="nodes" nzShowIcon></nz-tree>
            </div>
        </nz-card>
    </div>

    <div nz-col nzSpan="12">
        <div class="d-flex">
            <h4 class="display-4">已选</h4>
            <div class="ml-auto">
                <span>已选择 {{selection.length}} 项</span>
                <nz-divider nzType="vertical"></nz-divider>
                <a>清除</a>
            </div>
        </div>
        <nz-card class="list-card bg-blue-1 ant-card__body-nopadding mb-0">
            <div class="p-2">
                <ul class="selection-list list-unstyled">
                    <li *ngFor="let item of selection" class="p-1">
                        <span class="text-blue-5 mr-2">
                            <i nz-icon nzType="folder" nzTheme="fill"></i>
                        </span>
                        <span>{{item.name}}</span>
                        <span class="selection-list__remove-icon float-right">
                            <i nz-icon nzType="close-circle" nzTheme="outline"></i>
                        </span>
                    </li>
                </ul>
            </div>
        </nz-card>
    </div>
</div>